body {
  background-color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  text-align: center;
}

header {
  text-align: center;
  width: 80%;
  margin: 0px auto 20px auto;
}

header > h1 {
  font-size: 80px;
  font-family: 'Raleway', sans-serif;
  color: rgb(148, 105, 116);
}

h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

nav {
  display: inline-block;
}

nav li {
  display: inline-block;
  padding: 10px;
}

a {
  color: white;
  height: 20px;
}

a:visited {
  color: white;
}

#frosted-fish {
  width: 27%;
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-top: 95px;
}

article {
  text-align: center;
  width: 30%;
  margin: auto;
  line-height: 20px;
  height: 400px;
  padding: 16px;
}

article > img {
  display: block;
  width: 80%;
  margin: auto;

}

article > h2 {
  margin-bottom: 20px;
}

article > p {
  height: 70%;
  overflow: scroll;
  margin-bottom: 20px;
}

#featured-story {
  float:left;
  width: 20%;
  margin: 0;
  border: 1px solid rgb(148, 105, 116);
}

#merch {
  float: right;
  width: 20%;
  margin: 0;
  border: 1px solid rgb(148, 105, 116);
}

.header-content {
  top: 0px;
  position: inherit;
  max-width: 100%;
  margin: 0 auto;
}

.dropbutton {
  background-color: rgb(148, 105, 116);
  color: white;
  padding: 8px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  top: 32px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent p {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 12px;
  display: block;
}
.dropdowncontent p:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdowncontent {
  display: block;
}

table {
  border-collapse: collapse;
  /* margin: 20px; */
  width: 80%;
  margin: 10px auto 30px auto;
  border: 6px solid rgb(148, 105, 116);
}

td {
  background-color: rgba(220, 220, 220, 0.329);
  color: rgb(109, 105, 105);
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
  border: 1px solid rgba(128, 128, 128, 0.25);
  padding: 4px 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

td:hover {
  background-color: rgb(148, 105, 116);
  color: white;
}

th {
  padding: 4px;
  font-weight: bold;
}

tr:hover {
  background-color: rgba(172, 169, 169, 0.582);
}

form {
  margin: 20px;
  width: 30%;
  margin: auto;
}

fieldset {
  max-width: 300px;
  border: 5px solid rgb(148, 105, 116);
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin: 30px auto 30px auto;
}

legend {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px;
}

label, input {
  padding: 5px;
  display: block;
  border-radius: 3px;
  width: 200px;
}

button {
  float: right;
  padding: 5px;
  border-radius: 5px;
  background-color: gainsboro;
  box-shadow: 1px 2px black;
  /* border: 1px solid black; */
}

button:hover {
  background-color: rgb(172, 168, 168);
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}